.top_bar {
  width: 100%;
  height: 32px;
  min-height: 32px;

  :global(.containerSwiper) {
    height: 100%;
    :global(.slider) {
      height: 100%;
    }
  }

  .top_itens {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
